@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style  */

p {
  font-family: "Inter", sans-serif;
  color: rgba(7, 2, 17, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}

.section-title {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: #f00;
  cursor: pointer;
  border: none;
  padding: 14px 26px;
  border-radius: 5px;
}

section {
  margin-bottom: 100px;
}

img {
  width: 100%;
}

/*Header Style Start Here */
.header {
  margin-bottom: 100px;
}
.banner {
  border-radius: 16px;
  background: ;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 530px;
  margin-top: 50px;
  background-attachment: local;
  background-position: center;
}
.banner-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-sub-title {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: 400;
}

.banner-titile {
  text-align: center;
  font-size: 62px;
  width: 550px;
  margin-top: 13px;
}

/* 65% OFF Section Start Here */

.discount-65 {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
  padding: 10px 0;
}

.discount-title {
  color: #f00;
  font-size: 78px;
  font-weight: 700;
  margin-bottom: 35px;
}

.discount-description {
  color: #f00;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.discount-subtitle {
  color: #070211;
  font-size: 41px;
  font-weight: 700;
}

.discount-img {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

/* Welcome Style Start Here */

.welcome {
  border-radius: 16px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 505px;
  background-attachment: local;
  background-position: center;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-content {
  padding: 118px 0 130px 105px;
}

.welcome-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 54px;
  width: 600px;
  font-weight: 900;
  letter-spacing: 5.04px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 400;
  margin: 18px 0;
  width: 597px;
  line-height: 30px;
}

.btn-joinNow {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  letter-spacing: 0.1em;
  border: 1px solid #ff0000;
  padding: 14px 22px;
  transition: all 1.1s;
  cursor: pointer;
}

.btn-joinNow:hover {
  background: #ff0000;
  border-radius: 5px;
}

.welcome-img {
  width: 270px;
  height: 420px;
  margin-right: 106px;
}

/* Address New Park Hotel Style Start Here */

.address-hotel {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-primary {
  color: #f00;
}

.address {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.btn-hotel {
  margin-top: 40px;
}

/* New Best Offer Style Start Here */

.new-offer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer-title {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
}

.sub-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 900;
  padding: 15px 0;
}

.offer-descriptioin {
  font-size: 16px;
}

.coming-soon {
  width: 320px;
}
.offer-img {
  width: 300px;
  height: 300px;
  border: 10px solid red;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-circle {
  width: 235px;
  height: 235px;
}

.offer-content {
  width: 276px;
}

.offer-content-title {
  font-family: "Inter", sans-serif;
  font-size: 39px;
  font-weight: 700;
  margin-top: 50px;
}

.offer-content-description {
  font-size: 16px;
  padding: 16px 0;
}

.offer-images {
  width: 90px;
  padding-top: 20px;
}

/* Holidays Sale style start here  */

.holiday-sale {
  text-align: center;
}

.holiday-title {
  font-size: 62px;
}

.holiday-subtitle {
  color: #070211;
}

.holiday-description {
  margin-top: 20px;
  font-weight: 500;
}

/* Holidays Images styles */

.holiday-images {
  position: relative;
  padding-top: 50px;
}
.holiday-bottom-img {
  margin-top: -125px !important;
  height: 200px;
}

.discount-fifty{
  display: flex;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 130px;
  right: 278px;
}

.holiday-bottom-img img {
  height: 100%;
}

.holiday-img-wrapper {
  display: flex;
  justify-content: space-between;
}

.holiday-box {
  width: 600px;
  z-index: 5;
}

.holiday-box img {
  position: relative;
  top: 50px;
  left: 15px;
}

.discount-50 {
  width: 375px;
  position: relative;
}

/* Awesome Portfolio style here*/

.awesome-img-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.single-item {
  width: calc(30.33% - -17px);
  overflow: hidden;
  border-radius: 8px;
}

.single-item img {
  transition: all 1s;
  cursor: pointer;
}

.single-item:hover img {
  transform: scale(1.1);
}

.awesome-description {
  margin-bottom: 40px;
}

/* subscribe styles start here  */

.subscribe-wrapper {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subscribe-img {
  width: 140px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.subscribe-description {
  margin: 20px 0;
  font-size: 18px;
}

.subscribe-box {
  position: relative;
  margin: 45px 0;
}
.input-email {
  width: 70%;
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 18px 26px;
  outline: none;
}

.input-btn {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 15px 30px;
  position: absolute;
  top: 0px;
  right: 100px;
  font-weight: 600;
}

/* footer styles start here  */

footer {
  background: #070211;
  color: #fff;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 30px 0;
  border-bottom: 1px solid #363434;
}

.contact-address {
  color: #fff;
  line-height: 30px;
}

.contact-icon {
  display: flex;
  align-items: center;
}

.contact-site {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 110px;
}

.f-icon {
  width: 20px;
  margin-right: 15px;
}

.web-icon {
  text-decoration: none;
  color: #fff;
}

.social-link {
  text-align: center;
  padding: 35px 0;
  border-bottom: 1px solid #363434;
}

.social-icon {
  width: 50px;
  margin-right: 20px;
}

.copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 75px 0;
  font-family: "Inter", sans-serif;
}